{{ template "header" . }}

{{ template "navigation" . }}

<div class="sign">
<h1>
Rodeo App
</h1>
<p>A Wild West Coding Projet</p>
</div>
<div class="trail">
</div>
<p class="error">Sorry, the page you're looking for is on a different trail.</p>
{{ template "footer" . }}