{{ define "footer" }}

</body>
<footer>
<p>Every scrap of information on this website, no matter how silly or apparently worthless it may appear,
is copyrighted © in {{ .year }} by the author(s) and the publisher.</p>
</footer>
</html>


{{ end }}