{{ template "header" . }}
{{ template "navigation" . }}

{{ if .Message }}
<div>
    {{ .Message }}
</div>
{{ end }}

<div class="sign">
<h1>Rodeo App</h1>
<p>A Wild West Coder Project</p>
</div>
{{ template "footer" . }}