{{ define "navigation" }}

<nav class="navbar" role="navigation">
    <div class="topnav">
    <ul class="nav navbar-nav navbar-right">
    <li><a href="/">Home</a></li>
    <li><a href="/u/register">Register</a></li>
    <li>Login</li>
    </ul>
    </div>
    </nav>

{{ end }}