{{ template "header" . }}
{{ template "navigation" .}}

<h1>Registration</h1>

{{ if .ErrorTitle }}
	<p>
	{{ .ErrorTitle }}: {{ .ErrorMessage }}
	</p>
{{ end }}

<form class="form" action="/u/register" method="POST" name="userRegistration">

<p>Please fill in this form to create an account.</p>

<label for="username"><b>User Name</b> <span class="mandatory">*</span></label>
<input type="text" placeholder="Enter User Name" name="userName" id="username" required aria-required="true">

<label for="email"><b>Email</b> <span class="mandatory">*</span></label>
<input type="text" placeholder="Enter Email" name="email" id="email" required aria-required="true">

<label for="psw"><b>Password</b> <span class="mandatory">*</span></label>
<input type="password" placeholder="Enter Password" name="psw" id="psw" required aria-required="true">

<label for="psw-repeat"><b>Repeat Password</b> <span class="mandatory">*</span></label>
<input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required aria-required="true">

<button type="submit" class="registerbtn">Register</button>

</form>

{{ template "footer" . }}